<%= render 'programs/modal' %>

<div class="container">
  <div class="row">
    <div id="side-menu"  class="col-sm-3">
    <div>
  </div>
      </div><!-- side-menu -->
      <div id="main-content" class="col-sm-9">
          <%= render @program %>
              Information Credits: https://positivepsychology.com/, https://trainingindustry.com/articles/leadership/5-skills-to-include-in-a-comprehensive-leadership-development-program/
      </div><!-- main-content -->
    </div><!-- row -->
</div><!-- container -->


