<div class="col-sm-3 single-post-card" id=<%= program_path %>>
  <div class="card">
    <div class="card-block">
      <h4 class="post-text">
        <%= @section.description %>
        hi
      </h4>
    </div>
  </div><!-- card -->

<%= button_to 'Next Module', section_path, method: :put %>


</div><!-- col-sm-3 -->
