
<li id="hobby">
  <%= link_to 'programs/1' do %>
    <i class="fa fa-address-book" aria-hidden="true"></i> Leadership Development Program
  <% end %>
</li>

<li id="study">
  <%= link_to 'programs/2' do %>
    <i class="fa fa-graduation-cap" aria-hidden="true"></i> Cognitive Behavioral Therapy
  <% end %>
</li>

<li id="team">
  <%= link_to 'programs/3' do %>
    <i class="fa fa-book" aria-hidden="true"></i> New Parenting
  <% end %>
</li>
<li id="team">
  <%= link_to 'programs/4' do %>
    <i class="fa fa-users" aria-hidden="true"></i> Mindful Communication
  <% end %>
</li>