// Place all the styles related to the Sections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.class_css:link { 
    color: #0000FF;
  }
  .class_css:visited { 
    color: rgb(148, 85, 85);
  }
  .class_css:hover { 
    color: rgb(204, 204, 204);
  }
  .class_css:active { 
    color: #9cbcf0;
}


